{% if page.title == "Blog" %}

  {% assign all_articles = site.pages | where: "grand_parent", "Blog" | sort: "date" | reverse %}
  <ul class="article-list">
    {% for article in all_articles %}
    <li class="article-item">
      <a href="{{ article.url | relative_url }}" class="article-title">{{ article.title }}</a>
      {% if article.date %}<span class="article-date">{{ article.date | date: "%b %d, %Y" }}</span>{% endif %}
      {% if article.post_excerpt %}<p class="article-preview">{{ article.post_excerpt }}</p>{% endif %}
    </li>
    {% endfor %}
  </ul>

{% else %}

  {% assign articles = site.pages | where: "parent", page.title %}
  {% if articles.size > 0 %}
    {% assign has_dates = false %}
    {% for a in articles %}{% if a.date %}{% assign has_dates = true %}{% endif %}{% endfor %}
    {% if has_dates %}
      {% assign articles = articles | sort: "date" | reverse %}
    {% else %}
      {% assign articles = articles | sort: "nav_order" %}
    {% endif %}
    <ul class="article-list">
      {% for article in articles %}
      <li class="article-item">
        <a href="{{ article.url | relative_url }}" class="article-title">{{ article.title }}</a>
        {% if article.date %}<span class="article-date">{{ article.date | date: "%b %d, %Y" }}</span>{% endif %}
        {% if article.tags.size > 0 %}
          <span class="article-tags">{% for tag in article.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
        {% endif %}
        {% if article.post_excerpt %}<p class="article-preview">{{ article.post_excerpt }}</p>{% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endif %}
